@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NutriBurst.Web</h1>
    <p style ="color:white">Burst your wellness records with this optimized tool <a href="https://learn.microsoft.com/aspnet/core">here</a>.</p>
</div>

