@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NutriBurst.Web</h1>
    <p style="color:white">Burst your wellness records with this optimized tool <a href="http://localhost:5015/">here</a>.</p>
</div>

